ul{
	list-style:none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.row{
	width: 100%;
	margin:0;
}
.nopd{
	padding: 0;
}
.full{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
.caracteres_contador{
	float: right;
	margin-top: 5px;
}
.file_uploader{
	margin: 20px auto;
	display: table;
}

.file_uploader .file-preview{
	width: 400px;
	height: 200px;
	border: 4px dotted #03B377;
	border-radius: 0 15px;
	cursor: pointer;
	line-height: 200px;
	text-align: center;
	position: relative;
	transition: all .3s ease;
}
.file_uploader .file-preview > span{
	color: #999;
	font-size: 20px;
}
.file_uploader .file-preview > img{
	width: 350px;
	height: 160px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 2px solid #03B377;
	border-radius: 0 15px;
	display: none;
	
}
.file_uploader .file-preview > .file_close{
	position: absolute;
	z-index: 1000;
	outline: none;
	border: none;
	display: block;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border: 3px solid #ddd;
	margin: auto;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
}
.file_uploader .file-preview:hover{
	border:4px solid #0363C5;
	transition: all .3s ease;
}
.file_uploader .file-wrap{
	margin:20px 0;
	position: relative;
}
.file_uploader .file-wrap > input[type="file"]{
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	right: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.file_uploader .file-wrap .btn-uploader{
	display: block;
	padding: 10px;
	width: 100%;
	outline: none;
	
}
.file_uploader .file-wrap .btn-uploader > i{
	margin-right: 10px;
}

.file_uploader .image-caption{
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	width: 400px;
	margin: 5px auto;
	display: none;
}
.file_uploader .image-caption > button{
	margin-left: 10px;
	border: 1px solid #ddd;
	outline: none;
	background-color: inherit;
}
.desc_perfil{
	padding: 0;
}
.desc_perfil .desc_title{
	margin-top:12%;
}
.desc_perfil .desc_title h3{
	margin: 0;
}
.desc_perfil .desc_p{
	border: 1px solid rgb(53, 123, 183);
	border-radius: 10px 5px;
	padding: 10px;
	min-height: 250px;
	line-height: 30px;
}
.social li{
	display: inline-block;
	margin: 5px;
}
.social li a{
	display: block;
	font-size: 20px;
	height: 40px;
	width: 40px;
	line-height: 40px; 
	border-radius: 5px;
	text-decoration: none;
	transition: all .3s ease-in-out;
}
.social li a.fa-facebook{
	border: 1px solid #3b5998;
	color: #3b5998;
}

.social li a.fa-twitter{
	border: 1px solid #55acee;
	color: #55acee;
}

.social li a.fa-instagram{
	border: 1px solid #125688;
	color: #125688;
}
.social li a:hover{
	border-style: dashed;
	border-color: rgb(53, 123, 183);
	color: #fff;
}
.social li a.fa-facebook:hover{
	background-color: #3b5998;
}

.social li a.fa-twitter:hover{
	background-color: #55acee;
}

.social li a.fa-instagram:hover{
	background-color: #125688;
}
.perfimg{
	padding-left: 30px;
	padding-right: 30px;
}
.img-thumb{
	width: 100%;
	height: 300px !important;
}
.img-thumb-edit{
	width: 100%;
	height: 200px !important;
}

.vid_iframe iframe{
	width: 100%;
}

.img-thumb-vid{
	height: 315px !important;
	width: 100%;
}
.img-thumb-vid > img{
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1024px){
	.desc_perfil .desc_p{
		min-height: auto;
	}
	.vid_iframe iframe{
		height: 315px;
	}
	.padding_poco{
		padding-left: 15px;
		padding-right: 15px;
	}
	.social li a{
		font-size: 15px;
		height: 40px;
		width: 40px;
		line-height: 40px; 
	}
}
@media screen and (min-width: 1025px) and (max-width: 1600px){
	.perfimg{
		padding-left: 10px;
		padding-right: 10px;
	}
	.container{
		width: 95%;
	}
}
.video_desc h3{
	margin: 20px 0;
}

.video_desc{
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: rgb(96, 125, 139);
	padding: 0 10px 10px 10px;
	border-radius: 10px;
}
.validate{
	font-weight: bold;
	color: #CC1E1E;
	margin-left: 5px;
}
.info_cap{
	display: block;
	margin-top: 10px;
}
.info_cap mark{
	background-color: #F9EBA5;
}

.colorgraph {
	width: 100%;
  	height: 5px;
  	border-top: 0;
  	background: #c4e17f;
  	border-radius: 5px;
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.user-info-profile{
	padding: 0;
	background-color: #1276DD;
	min-height: 100%;
	position: relative;
	
}
.profile-content{
	border-left: 1px solid #337ab7;
	padding-bottom: 10px;
}
.user-info-profile .tophd{
	height: 145px;
	background-color: #F44336;
	padding: 20px;
}
.user-info-profile .tophd .descrip{
	background-color: #F49136;
	color: #fff;
}
.user-info-profile .tophd button{
	display: none;
}
.user-info-profile img{
	position: absolute;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	left: 0;
	right: 0;
	margin: auto;
	top: 87px;
	border:3px solid #F44336;
}
.user-info-profile figcaption{
	background-color: #fff;
	padding: 15px;
	color: #23527c;
	padding-top: 50px;
	min-height: 270px;
}
.user-info-profile figcaption .desc{
	min-height: 120px;
}
.user-info-profile figcaption .foot{
	padding: 10px 0;
	border-top: 1px solid #ddd;
	margin-top: 15%;
}


@media screen and (max-width: 1024px) {
	.user-info-profile figcaption .desc > p{
		font-size: .9em;
	}
	.user-info-profile img{
		width: 100px;
		height: 100px;
		
	}
}

#profile-user b.titl,
#profile-edit b.titl{
	display: block;
	margin-bottom: 10px;
}
#profile-user .profile-infobox .info{
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}
#profile-user .profile-infobox .info span{
	margin-right: 50px;
}
#profile-user .profile-infobox .info label{
	font-weight: 700;
}

@media screen and (min-width: 1025px) and (max-width: 1600px){
	#profile-user .profile-infobox .info span{
		margin-right: 10px;
	}

	#profile-user .profile-infobox .info label,
	#profile-user .profile-infobox .info span{
		font-size: .9em;
	}
}
.fmgp input,
.fmgp textarea{
	border-bottom: 1px solid #337ab7 !important;
	padding-left: 5px !important;
}
.fmgp .input-group-addon{
	background: #337ab7;
	padding-left: 6px;
	padding-right: 6px;
}
.fmgp .input-group-addon i{
	color: #fff !important;
	margin: 0;
}

